.results {
    background: #071a27;
    text-align: center;
    padding: 80px 20px;
    color: white;
  }
  
  .pentagon-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
  }
  
  .pentagon {
    width: 130px;
    height: 130px;
    background: #FF6565;
    clip-path: polygon(
      50% 0%,
      95% 35%,
      78% 90%,
      22% 90%,
      5% 35%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }
  
  .big {
    font-size: 20px;
  }
  
  .small {
    font-size: 12px;
    margin-top: 5px;
  }
  