/* Base styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, main, footer {
    padding: 20px;
}

header {
    background-color: #f3f3f3;
}

footer {
    background-color: #ddd;
    text-align: center;
}
